-- 用于保存一些机密字段
-- 表示该行为注释
-- 这是一个示例模板,可以改名或者复制为secret.txtD
-- 文件共分为两列,第一列表示被替换模板,第二列表示替换后的内容
　

##HOME##               /home/user
##USER##               user
##MAIL_PASSWORD##      password
##MAIL_USER##          mailuser
